/*Lato from Adobe*/
@import url("https://use.typekit.net/cei3zmb.css");

/* Poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;


@layer components {
  .container {
		@apply w-11/12 max-w-7xl mx-auto;
	}
}

html {
  @apply h-screen;
}

/* Backgrounds */
.bg-main-image {
  @apply bg-cover h-screen;
  background-image: var(--bg-main-image);
}

/* Animaciones */

/* Animate menu */
.btn-line {
  background-color: black;
  transition: all 0.5s ease-in-out;
}

.open .btn-line:nth-child(1) {
  transform: rotate(40deg);
  top: 11px;
}

.open .btn-line:nth-child(2) {
  opacity: 0;
}

.open .btn-line:nth-child(3) {
  transform: rotate(-40deg);
  top: -11px;
}

/* Animate Spinning Cart */
@keyframes move-cart {
  0% {
    transform: translateX(-300%);
  }
  50% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(300%);
  }
}

.animate-spinning-cart {
  animation-name: move-cart;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-delay: 0s;
}

