
.list-container{
    height: 55vh;
    overflow-y: auto;
}

.select-name{
    background: #ACC0DF;
}

.no-select-name{
 background: none;
}

.desactivatedForm{
    display: none;
}

.activeForm{
    display: block;
}

.show{
    display: block;
}

.none{
    display: none;
}

